body{
    background-image: url('maldives-7680x4320 (1).jpg');
    background-size: cover ;
}
h1 {
    text-align: center;
    color: white;
    font-family: Tahoma ;
}
h2{
    color: azure;
    font-family: 'Courier New', Courier, monospace;
}
h3{
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace  ;
    font-size: medium;
}